{% trans_default_domain 'YosimitsoWorkingForumBundle' %}
<div class="wf_new_post" id="wf_new_post">
    {% block header %}
    {% endblock %}
    <script>
        jQuery(document).ready(function() {
            jQuery('.wf_add_enclosed_file').click(function(e)
            {
                e.preventDefault();
                var index = jQuery('#wf_enclosed_files_list li').length;
                var prototype = jQuery('#wf_enclosed_files_list').data('prototype');
                prototype = prototype.replace(/__name__/g, index);

                jQuery('#wf_enclosed_files_list').append('<li>'+prototype+'</li>').show();
                $('.wf_file_upload input[type=file]').nicefileinput();
            });

            jQuery('.wf_insert-smiley').click(function(e) {
                e.preventDefault();
                var key = jQuery(this).data('key');
                jQuery('.wf_textarea_post').insertAtCaret(key);
            });
        });
    </script>
    <div id="wf_smiley">
        <ul>
            {% for key,smiley in listSmiley %}
                <li><a href="#" class="wf_insert-smiley" data-key="{{ key }}"><img
                                src="{{ asset('bundles/yosimitsoworkingforum/images/smiley/'~smiley) }}"/></a>
                </li>
            {% endfor %}
        </ul>

    </div>
    <div class="wf_clear"></div>
    <p>{{ form_widget(form.content) }}</p>

    {% if parameters.fileUpload.enable and form.filesUploaded is defined %} {# FILE UPLOAD ARE ALLOWED#}
        <div class="wf_file_upload">
            <div class="wf_header-block">
                {{ 'forum.enclosed_files' | trans }} <span
                        class="small-desc">- {{ 'forum.file_upload.accepted_format' | trans }}
                    : {{ parameters.fileUpload.accepted_format | join(', ') }} - {{ parameters.fileUpload.maxSize }} {{ 'forum.file_upload.ko_max' | trans }}</span>
            </div>
            <div class="wf_block">
                <ul id="wf_enclosed_files_list"
                    data-prototype="{{ form_widget(form.filesUploaded.vars.prototype) | escape('html_attr') }}"
                    style="display:none;">
                </ul>
                <a href="#" class="wf_add_enclosed_file">+ {{ 'forum.file_upload.add_enclosed_file' | trans }}</a>
            </div>
        </div>
    {% endif %}
    {% block extraInput %}
    {% endblock %}
    <p><input type="submit" value="{{ submitLabelKey | trans }}"
              class="wf_button wf_width100"/></p>
</div>
