{% extends '@YosimitsoWorkingForum/Common/base.html.twig' %}
{% block forum %}
    {% include '@YosimitsoWorkingForum/Common/header.html.twig' %}
    {% trans_default_domain 'YosimitsoWorkingForumBundle' %}

    <script src="{{ asset('bundles/yosimitsoworkingforum/post.min.js') }}"></script>
    <link rel="stylesheet" media="all" href="{{ asset('bundles/yosimitsoworkingforum/css/post.min.css') }}" />

    <script>
        var storeJs = {
            'postEditorId': 'rules_edit_{{ lang }}'
        }
    </script>
    <div id="wf_forum_content">
        {%  include '@YosimitsoWorkingForum/Admin/header.html.twig' with {'backToAdmin': true, 'adminSubtitle': 'admin.menu.forum_rules'} %}
        <div id="wf_forum_admin">
            {{ form_start(form) }}
            <p>{{ 'admin.rules.lang' | trans }} : {{ lang }}</p>
            {% embed '@YosimitsoWorkingForum/Post/textarea.html.twig' with {'listSmiley': listSmiley, 'form': form, 'parameters': parameters, 'submitLabelKey': 'admin.submit'} only %}
                {% block header %}
                    <p class="wf_post_a_message">{{ 'admin.rules.edit' | trans([], 'YosimitsoWorkingForumBundle') }}</p>
                {% endblock %}
                {% block extraInput %}
                    {{ form_rest(form) }}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}