{% extends 'YosimitsoWorkingForumBundle:Common:base.html.twig' %}
{% block forum %}
    {% include 'YosimitsoWorkingForumBundle:Common:header.html.twig' %}
{% trans_default_domain 'YosimitsoWorkingForumBundle' %}
<div id="forum_content">
    {% if app.session.flashbag.has('success') %}
                <div class="alert-success">
                    <ul>
                  {% for flashMessage in app.session.flashbag.get('success') %}
                      <li>{{ flashMessage }}</li>
                  {% endfor %}
                    </ul>
                </div>
            {% endif %}
               {% if app.session.flashbag.has('error') %}
                <div class="alert-error">
                    <ul>
                  {% for flashMessage in app.session.flashbag.get('error') %}
                      <li>{{ flashMessage }}</li>
                  {% endfor %}
                    </ul>
                </div>
            {% endif %}
               <h1>{{ 'admin.admin_workingforum' | trans }}</h1>
<div id="forum_admin">
 
    <div class="forum_block_admin">
        <div class="forum_block_title">{{ 'admin.manage_forum' | trans }}</div>
        <div class="forum_content">
    <ul style="list-style: inside decimal;">
    {% for forum in list_forum %}
        <li><a href="{{ path('workingforum_admin_forum_edit', { 'id' : forum.id }) }}">{{ forum.name }}</a></li>   
   {% endfor %}
    </ul>
     <a class="button button-center" href="{{ path('workingforum_admin_forum_add') }}"><span class="add-plus"></span>{{ 'admin.add' | trans }}</a>
        </div>
    </div>
     <div class="forum_block_admin">
        <div class="forum_block_title">{{ 'admin.manage_settings' | trans }}</div>
        <div class="forum_content">
            
    <ul>
        {% for setting in settings_render %}
           
            <li>{{ setting |raw}}</li>
           
        {% endfor %}
    </ul>
   
     </div>
     </div>
    <div class="clear"></div>
</div>
</div>
{% endblock %}
