<div class="wf_breadcrumb">
    <a href="{{ path('workingforum_forum') }}">Forum</a>
    {% if subforum is defined %}
        &rarr; <a href="{{ path('workingforum_forum') }}">{{ subforum.forum.name }}</a>
        &rarr; <a href="{{ path('workingforum_subforum',{ 'subforum_slug' : subforum.slug }) }}">{{ subforum.name }}</a>
    {% endif %}
    {% if thread is defined %}
        &rarr; {{ thread.label }}
    {% endif %}
    {% if extraPath is defined and extraPath is iterable %}
        {% for path in extraPath %}
            &rarr; {{ path }}
        {% endfor %}
    {% endif %}
</div>