
{% trans_default_domain 'YosimitsoWorkingForumBundle' %}
{% if pageCount > 1 %}
<div class="wf_pagination">
    <div class="wf_center">
    <ul>

    {% if previous is defined %}
        <li class="wf_previous">
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo;&nbsp;{{ 'pagination.previous' |trans }}</a>
        </li>
    {% else %}
        <li class="wf_disabled wf_previous">
            <span>&laquo;&nbsp;{{ 'pagination.previous' |trans }}</span>
        </li>
    {% endif %}

    {% if startPage > 1 %}
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
        </li>
        {% if startPage == 3 %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
            </li>
        {% elseif startPage != 2 %}
        <li class="wf_disabled">
            <span>&hellip;</span>
        </li>
        {% endif %}
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="wf_active">
                <span>{{ page }}</span>
            </li>
        {% endif %}

    {% endfor %}

    {% if pageCount > endPage %}
        {% if pageCount > (endPage + 1) %}
            {% if pageCount > (endPage + 2) %}
                <li class="wf_disabled">
                    <span>&hellip;</span>
                </li>
            {% else %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                </li>
            {% endif %}
        {% endif %}
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
        </li>
    {% endif %}

    {% if next is defined %}
        <li class="wf_next">
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">{{ 'pagination.next' |trans }}&nbsp;&raquo;</a>
        </li>
    {% else %}
        <li class="wf_disabled wf_next">
            <span>{{ 'pagination.next' |trans }}&nbsp;&raquo;</span>
        </li>
    {% endif %}
    </ul>
    <div class="wf_clear"></div>
</div>
</div>
{% endif %}


