{% extends 'YosimitsoWorkingForumBundle:Common:base.html.twig' %}
{% block forum %}
    {% include 'YosimitsoWorkingForumBundle:Common:header.html.twig' %}
{% trans_default_domain 'YosimitsoWorkingForumBundle' %}
 <div id="wf_forum_content">
<div class="wf_breadcrumb">Forum</div>

    <div id="wf_forum">
        <p>
        {% if (is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_ADMIN")) or is_granted("ROLE_MODERATOR") %}
            <a class="wf_button" href="{{ path('workingforum_admin') }}">{{ 'forum.admin_access' | trans }}</a>
            {% endif %}
        {% include 'YosimitsoWorkingForumBundle:Common:search_button.html.twig' %}
    </p>
{% for forum in list_forum %}
  
    <div class="wf_forum">
        <h1>{{ forum.name }}</h1>
         <table class="wf_subforum">
    {% for subforum in forum.subForum %}
       <tr>
           <td class="wf_sub_name"><a href="{{ path('workingforum_subforum', {'subforum_slug' : subforum.slug }) }}">{{ subforum.name }}</a></td>
           <td class="wf_sub_stat">{{ subforum.nbThread | number_format }} {{ 'forum.nbThread' | trans }}<br />{{ subforum.nbPost | number_format }} {{ 'forum.nbPost' | trans }}</td>
           <td class="wf_sub_lastreply">
               {% if subforum.nbPost > 0 %}
               {{ 'forum.last_reply_date' |trans }}
               <br />
               {{ subforum.lastReplyDate | date('d/m/Y H:i:s') }}
               {% endif %}
               </td>
       </tr>
        {% endfor %}
         </table>
         </div> 
    {% endfor %}

    </div>
 </div>
{% endblock %}

