{% extends '@YosimitsoWorkingForum/Common/base.html.twig' %}
{% block forum %}
    {% include '@YosimitsoWorkingForum/Common/header.html.twig' %}
{% trans_default_domain 'YosimitsoWorkingForumBundle' %}
 <div id="wf_forum_content">
<div class="wf_breadcrumb">Forum</div>

    <div id="wf_forum">
        <p>
        {% if (is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_ADMIN")) or is_granted("ROLE_MODERATOR") %}
            <a class="wf_button" href="{{ path('workingforum_admin') }}">{{ 'forum.admin_access' |trans }}</a>
            {% endif %}
        {% include '@YosimitsoWorkingForum/Common/search_button.html.twig' %}
         <a href="{{ path('workingforum_rules') }}" class="wf_button">{{ 'forum.forum_rules' |trans }}</a>

    </p>
{% for forum in list_forum %}
  
    <div class="wf_forum">
        <h1>{{ forum.name }}</h1>
         <table class="wf_subforum">
    {% for subforum in forum.subForum %}
       <tr>
           <td class="wf_sub_name">
               <a href="{{ path('workingforum_subforum', {'forum': subforum.forum.slug, 'subforum' : subforum.slug }) }}">{{ subforum.name }}</a>
           </td>
           <td class="wf_sub_stat">
               {{ subforum.nbThread | number_format }} {{ 'forum.nbThread' |trans }}<br />
               {{ subforum.nbPost | number_format }} {{ 'forum.nbPost' |trans }}
           </td>
           <td class="wf_sub_lastreply">
               {% if subforum.lastReplyUser is not null and subforum.lastReplyDate %}
                   {% if subforum.lastReplyUser.avatarUrl is not empty %}
                       <img class="wf_cadre-img-small wf_cadre-left hide-for-small" src="{{ asset(subforum.lastReplyUser.avatarUrl) }}">
                   {% else %}
               <img class="wf_cadre-img-small wf_cadre-left hide-for-small" src="{{ asset('bundles/yosimitsoworkingforum/images/avatar/default.png') }}">
                   {% endif %}
                   <p><strong>{{ 'forum.last_reply_date' | trans }}</strong></p>
                   <p>{{ subforum.lastReplyUser.username }}</p>
                   <p><em>{{ subforum.lastReplyDate | ago }}</em></p>
               {% endif %}
               </td>
       </tr>
        {% endfor %}
         </table>
         </div> 
    {% endfor %}

    </div>
 </div>
{% endblock %}

