{% extends '@YosimitsoWorkingForum/Common/base.html.twig' %}
{% block forum %}
    {% include '@YosimitsoWorkingForum/Common/header.html.twig' %}
    {% trans_default_domain 'YosimitsoWorkingForumBundle' %}
    {% include '@YosimitsoWorkingForum/Common/flashmsg.html.twig' %}
    <div id="wf_forum_content">
        {% if subforum is defined %}
            {% include '@YosimitsoWorkingForum/Common/breadcrumb.html.twig' with {'subforum': subforum} only %}
        {% else %}
            {% include '@YosimitsoWorkingForum/Common/breadcrumb.html.twig' with {'extraPath': [('forum.search_forum' | trans)]} only %}
        {% endif %}

        {% if forbidden is defined and forbidden %}
            <div class="wf_forum">
                <div class="wf_empty_forum">{{ forbiddenMsg | trans }}</div>
            </div>
        {% else %}

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and subforum is defined %}
                <p>
                    <a class="wf_button wf_add"
                       href="{{ path('workingforum_new_thread', {'forum': forum.slug, 'subforum' : subforum.slug}) }}"><span
                                class="wf_add-plus"></span>{{ ('forum.new_thread' | trans) }}</a>
                </p>
            {% endif %}

            <div id="wf_forum">
                <div class="wf_forum">
                    {% if subforum is defined %}
                        <h1>{{ subforum.name }}</h1>
                    {% else %}
                        <h1>{{ 'search.results_for' | trans({'%keywords%' : keywords}) }}</h1>
                    {% endif %}

                    <table class="wf_thread_list">
                        {% if thread_list.items is not empty %}
                            {% for item in thread_list.items %}
                             {% if item.thread_slug is not empty %}
                            <tr {% if item.thread_pin %} class="wf_pin" {% elseif item.thread_resolved %} class="wf_resolved"{% endif %}>
                                <td class="wf_sub_name">
                                    <p>
                                        {% if item.thread_locked %}
                                            <img src="{{ asset('bundles/yosimitsoworkingforum/images/lock.png') }}"
                                                 width="24" style="vertical-align:bottom"/>

                                        {% endif %}
                                        {% if item.thread_pin %}
                                            <span class="wf_pinText"><img
                                                        src="{{ asset('bundles/yosimitsoworkingforum/images/pin.png') }}"
                                                        width="16"/>{#{{ 'forum.pin' | trans }} : #}</span>
                                        {% elseif item.thread_resolved %}
                                            <span class="wf_pinText"><img
                                                        src="{{ asset('bundles/yosimitsoworkingforum/images/tick.png') }}"
                                                        width="16"/>{#{{ 'forum.resolved' | trans }} : #}</span>
                                        {% endif %}

                                        <a class="wf_label"
                                           href="{{ path( 'workingforum_thread', {'forum': item.forum_slug, 'subforum' : item.subforum_slug, 'thread' : item.thread_slug}) }}">{{ item.thread_label }}</a>
                                    </p>


                                    <p class="wf_sublabel">{{ item.thread_subLabel }}</p>
                                    {% set nbPage = (item.thread_nbReplies/post_per_page) %}
                                    {% if nbPage > 1 %}
                                        <p class="wf_latest_page">
                                            <a href="{{ path( 'workingforum_thread', {'forum': item.forum_slug, 'subforum' : item.subforum_slug, 'thread' : item.thread_slug, (page_prefix) : (nbPage |round(0,'ceil')) }) }}">&rarr; {{ 'pagination.latestPage' | trans }}</a>
                                        </p>
                                    {% endif %}
                                </td>
                                <td class="wf_sub_author">
                                    <img class="wf_cadre-img-small wf_cadre-left hide-for-small" src="
                                    {% if item.author_avatarUrl is not empty %}
                                        {{ asset(item.author_avatarUrl) }}
                                    {% else %}
                                        {{ asset('bundles/yosimitsoworkingforum/images/avatar/default.png') }}
                                    {% endif %}
                                    "/>
                                    <p>{{ item.author_username |slice(0,30) }}</p>
                                    <p><em>{{ item.thread_cdate | date(parameters.dateFormat) }}</em></p>
                                </td>
                                <td class="wf_sub_stat">{{ item.thread_nbReplies }} {{ 'forum.nbPost' | trans }}</td>
                                <td class="wf_sub_lastreply">
                                    {% if item.thread_lastReplyDate is not null and item.lastReplyUser_username is not null %}
                                        {% if item.lastReplyUser_avatarUrl is not empty %}
                                            <img class="wf_cadre-img-small wf_cadre-left hide-for-small"
                                                 src="{{ asset(item.lastReplyUser_avatarUrl) }}">
                                        {% else %}
                                            <img class="wf_cadre-img-small wf_cadre-left hide-for-small"
                                                 src="{{ asset('bundles/yosimitsoworkingforum/images/avatar/default.png') }}">
                                        {% endif %}
                                        <strong>{{ 'forum.last_reply_date' | trans }}</strong><br/>
                                        {{ item.lastReplyUser_username }}
                                        <br/><em>{{ item.thread_lastReplyDate | ago }}</em>
                                    {% endif %}
                                </td>
                            {% endif %}
                            {% endfor %}
                    </table>
                {% else %}
                    </table>
                    {% if keywords is defined %}
                        <div class="wf_empty_forum">{{ 'search.no_result' | trans({'%keywords%' : keywords}) }}</div>
                    {% else %}
                        <div class="wf_empty_forum">{{ 'forum.empty_forum' | trans }}</div>
                    {% endif %}
                {% endif %}


                </div>
            </div>
            {% if thread_list is not empty %}
                {{ knp_pagination_render(thread_list) }}
            {% endif %}

        {% endif %}
    </div>
{% endblock %}
