{% extends '@YosimitsoWorkingForum/Common/base.html.twig' %}
{% block forum %}
    {% include '@YosimitsoWorkingForum/Common/header.html.twig' %}
{% trans_default_domain 'YosimitsoWorkingForumBundle' %}
{% if app.session.flashbag.has('success') %}
                <div class="alert-success">
                    <ul>
                  {% for flashMessage in app.session.flashbag.get('success') %}
                      <li>{{ flashMessage }}</li>
                  {% endfor %}
                    </ul>
                </div>
            {% endif %}
               {% if app.session.flashbag.has('error') %}
                <div class="alert-error">
                    <ul>
                  {% for flashMessage in app.session.flashbag.get('error') %}
                      <li>{{ flashMessage }}</li>
                  {% endfor %}
                    </ul>
                </div>
            {% endif %}
             <div id="wf_forum_content">
<div class="wf_breadcrumb">
    <a href="{{ path('workingforum_forum')}}">Forum</a>
    {% if subforum is defined %}
        &rarr; {{subforum.forum.name}}
    {% else %}
        &rarr; <a href="{{ path('workingforum_search') }}">{{'forum.search_forum' |trans }}</a>
    {% endif %}
</div>
 {% if forbidden is defined and forbidden %}
     <div class="wf_forum">
     <div class="wf_empty_forum">{{ forbiddenMsg | trans }}</div>
     </div>
 {% else %}    
    
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and subforum is defined%}
    
   
 <div class="wf_new_thread_button">
    <a class="wf_button wf_add" href="{{ path('workingforum_new_thread', {'subforum_slug' : subforum.slug}) }}"><span class="wf_add-plus"></span>{{ ('forum.new_thread' | trans) }}</a>
    </div>
    {% endif %}
<div id="wf_forum">
    <div class="wf_forum">
        {% if subforum is defined %}
    <h1>{{ subforum.name }}</h1>
    {% else %}
        <h1>{{ 'search.results_for' | trans({'%keywords%' : keywords}) }}</h1>
    {% endif %}    
   
<table class="wf_thread_list">
    {% if thread_list is not empty %}
    {% for thread in thread_list %}
        <tr {% if thread.pin %} class="wf_pin" {% elseif thread.resolved  %} class="wf_resolved"{% endif %}>
            <td class="wf_sub_name">
                <p>
                {% if thread.locked %}
                <img src="{{ asset('bundles/yosimitsoworkingforum/images/lock.png') }}" width="24" style="vertical-align:bottom" />
                
                {% endif %}
                {% if thread.pin %}
                    <span class="wf_pinText"><img src="{{ asset('bundles/yosimitsoworkingforum/images/pin.png') }}" width="16"/>{#{{ 'forum.pin' | trans }} : #}</span> 
                    {% elseif thread.resolved %}
                     <span class="wf_pinText"><img src="{{ asset('bundles/yosimitsoworkingforum/images/tick.png') }}" width="16"/>{#{{ 'forum.resolved' | trans }} : #}</span>    
                {% endif %}
            
                <a class="wf_label" href="{{ path( 'workingforum_thread', {'subforum_slug' : thread.subforum.slug, 'thread_slug' : thread.slug}) }}">{{ thread.label }}</a>
                </p>
               
             
                <p class="wf_sublabel">{{ thread.sublabel }}</p>
              {% set nbPage = (thread.nbReplies/post_per_page) %}
               {% if nbPage > 1 %}
                   <p class="wf_latest_page">
                    <a href="{{ path( 'workingforum_thread', {'subforum_slug' : thread.subforum.slug, 'thread_slug' : thread.slug, (page_prefix) : (nbPage |round(0,'ceil')) }) }}">&rarr; {{ 'pagination.latestPage' | trans }}
                   </p>
             {%endif%}
             </td>
             <td class="wf_sub_author">
                 <img class="wf_cadre-img-small" src="
                  {% if thread.author.avatarUrl is not empty %}
          {{ asset('bundles/yosimitsoworkingforum/'~thread.author.avatarUrl) }}
          {% else %}
           {{ asset('bundles/yosimitsoworkingforum/images/avatar/default.png') }}   
          {% endif %}
          " />
                 {{ thread.author.username |slice(0,30) }}
             </td>
            <td class="wf_sub_stat">{{ thread.nbReplies}} {{ 'forum.nbPost' | trans }}</td>
            <td class="wf_sub_lastreply">
                {%  if thread.lastReplyDate is not null and thread.lastReplyUser is not null %}
                    {{'forum.last_reply_date' | trans }}<br />
                    {{ thread.lastReplyDate | date(date_format)}} {{ 'forum.by' | trans }} {{ thread.lastReplyUser.username}}</td>
                {% endif %}
            
            
            
        
        
        
    {% endfor %}
    </table>
    {% else %}
    </table>
    {% if subforum is defined %}
    <div class="wf_empty_forum">{{ 'forum.empty_forum' | trans }}</div>
    {% else %}
         <div class="wf_empty_forum">{{ 'search.no_result' | trans({'%keywords%' : keywords}) }}</div>
    {% endif%}
    {% endif %}    


    </div>
</div>
     {%  if thread_list is not empty %}
    {{ knp_pagination_render(thread_list) }}
         {% endif %}
    
    {% endif %}
             </div>
    
{% endblock %}