{% extends 'YosimitsoWorkingForumBundle:Common:base.html.twig' %}
{% block forum %}
    {% include 'YosimitsoWorkingForumBundle:Common:header.html.twig' %}
{% trans_default_domain 'YosimitsoWorkingForumBundle' %}

<div id="wf_forum_content">
     <h1>{{ 'admin.admin_area' | trans }}</h1>
<div id="wf_forum_admin">
    <p><a class="wf_button" href="{{ path('workingforum_admin') }}">
        &larr; {{ 'admin.back_to_admin' |trans }}
        </a></p>
   <div class="wf_admin_left">
    {% if form_errors(form) %}
      <div class="alert-error">
                      {{form_errors(form) }}
                  </div>   
    {% endif %}
       
   {{ form_start(form) }}
   <p>{{ form_label(form.name) }}</p>
   <p>{{ form_widget(form.name) }}</p>
   <p class="wf_label">{{ 'admin.list_subforum' | trans }}</p>
   
    
       <table style="width:80%" id="wf_list_subforum">
   {% for subforum in form.subforum %}

       <tr id="wf_sub_{{ loop.index-1 }}">
           <td>
               {{ form_widget(subforum.name) }}
           </td>
           <td>
               {{ form_widget(subforum.nbThread) }} {{ 'forum.nbThread' | trans }}
           </td>
           <td>
               {{ form_widget(subforum.nbPost) }} {{ 'forum.nbPost' | trans }}
           </td>
           <td>
               <a href="#" onclick="deleteSubforum({{ loop.index-1 }})"><img style="vertical-align:middle" src="{{ asset('bundles/yosimitsoworkingforum/images/remove.png') }}" width="24" /></a>
           </td>
           
       </tr>
           
       {% endfor %}
       </table>
   {# {{ form(form) }} #}
  
  <script src="{{ asset('bundles/yosimitsoworkingforum/js/jquery.min.js') }}"></script>
   <script>
       function deleteSubforum(index)
       {
             if (!confirm("{{ 'admin.delete_subforum' | trans }}"))
          {
              return false;
          }
           jQuery('#wf_sub_'+index).remove();
           return true;
       }
       function NewSubforum() {
        
           var length = (jQuery('#wf_list_subforum').children().length);
           var content = '<tr id="wf_sub_'+length+'"><td><input type="text" value="" required="required" name="admin_forum[subforum]['+length+'][name]" id="yosimitso_workingforumbundle_forum_subforum_'+length+'_name"></td><td></td><td></td><td><a href="#" onclick="deleteSubforum('+length+')"><img style="vertical-align:middle" src="{{ asset('bundles/yosimitsoworkingforum/images/remove.png') }}" width="24" /></a></td></tr>';
            jQuery('#wf_list_subforum').append(content);
           return true;
       }
    </script>   
    <p><a class="wf_button" onclick="NewSubforum()"><span class="wf_add-plus"></span>{{ 'admin.new_subforum' | trans }}</a></p>
   <p>{{ form_widget(form.submit) }}</p>
   {{ form_rest(form) }}
   {{ form_end(form) }}
  
</div>
{% if statistics is defined %}
<div>
   <p class="wf_label">{{ 'admin.statistics' | trans }}</p>
   <p>{{ 'forum.nbThread' | trans | capitalize }} : {{ statistics.nbThread  }}</p>
   <p>{{ 'forum.nbPost' | trans | capitalize }} : {{ statistics.nbPost }}</p>
   <p>{{ 'forum.averagePostThread' | trans }} : {{ statistics.averagePostThread | round(2) }}
        <p>
   <a href="{{ path('workingforum_admin_delete_forum', {forum_id: forum.id}) }}" onclick="if (!confirm('{{'admin.confirmDeleteForum'|trans}}')) { return false; }" class="wf_button wf_button-red">{{ 'admin.delete_forum' | trans}}</a>
   </p>
</div>
{%endif%}
<div class="wf_clear"></div>
</div>
</div>
{% endblock %}

