{% extends '@YosimitsoWorkingForum/Common/base.html.twig' %}
{% block forum %}
    {% include '@YosimitsoWorkingForum/Common/header.html.twig' %}
{% trans_default_domain 'YosimitsoWorkingForumBundle' %}

<div id="wf_forum_content">
    {%  include '@YosimitsoWorkingForum/Admin/header.html.twig' with {'backToAdmin': true, 'adminSubtitle': 'admin.menu.forum'} %}
<div id="wf_forum_admin">
   <div class="wf_admin_left">
    {% if form_errors(form) %}
      <div class="alert-error">
                      {{form_errors(form) }}
                  </div>   
    {% endif %}
       
   {{ form_start(form) }}
   <p>{{ form_label(form.name) }}</p>
   <p>{{ form_widget(form.name) }}</p>
   <p class="wf_label">{{ 'admin.list_subforum' | trans }}</p>
   
	<div id="wf_list_subforum">
        <table class="wf_admin_table">
            <thead>
            <tr>
                <th>{{ 'forum.subforum_name' | trans | capitalize }}</th>
                <th>{{ 'forum.allowed_roles' | trans | capitalize }}</th>
                <th>{{ 'forum.nbThread' | trans | capitalize }}</th>
                <th>{{ 'forum.nbPost' | trans | capitalize }}</th>
                <th></th>
            </tr>
            </thead>
   {% for subforum in form.subforum %}
               <tbody>
               <tr id="wf_sub_{{ loop.index-1 }}">
                   <td>{{ form_widget(subforum.name) }}</td>
                   <td>{{ form_widget(subforum.allowedRoles) }}</td>
                   <td>{{ form_widget(subforum.nbThread) }}</td>
                   <td>{{ form_widget(subforum.nbPost) }}</td>
                   <td><a href="#" onclick="deleteSubforum({{ loop.index-1 }})">
                       <img style="vertical-align:middle"
                            src="{{ asset('bundles/yosimitsoworkingforum/images/remove.png') }}" width="24"/>
                       </a></td>
               </tr>
               </tbody>
       {% endfor %}
        </table>
		</div>
  <script src="{{ asset('bundles/yosimitsoworkingforum/js/jquery.min.js') }}"></script>
   <script>
       function deleteSubforum(index)
       {
             if (!confirm("{{ 'admin.delete_subforum' | trans }}"))
          {
              return false;
          }
           jQuery('#wf_sub_'+index).remove();
           return true;
       }
       function NewSubforum() {
        
           var length = (jQuery('#wf_list_subforum').children().length);
           var content = '<div id="wf_sub_'+length+'" class="wf_admin_subforum_block"><table><tr><th>{{ 'forum.subforum_name' | trans | capitalize  }}</th><td><input type="text" value="" required="required" name="admin_forum[subforum]['+length+'][name]" id="yosimitso_workingforumbundle_forum_subforum_'+length+'_name"></td></tr><tr><th>{{ 'forum.allowed_roles' | trans | capitalize }}</th><td><input type="text" value="" name="admin_forum[subforum]['+length+'][allowedRoles]" id="yosimitso_workingforumbundle_forum_subforum_'+length+'_allowedRoles"></td></tr><tr><th>{{ 'forum.nbThread' | trans | capitalize }}</th><td>-</td></tr><tr><th>{{ 'forum.nbPost' | trans | capitalize }}</th><td>-</td></tr><tr><td colspan="2"><a href="#" onclick="deleteSubforum('+length+')"><img style="vertical-align:middle" src="{{ asset('bundles/yosimitsoworkingforum/images/remove.png') }}" width="24" /></a></td></tr></table></div>';
			jQuery('#wf_list_subforum').append(content);
           return true;
       }
    </script>   
    <p><a class="wf_button" onclick="NewSubforum()"><span class="wf_add-plus"></span>{{ 'admin.new_subforum' | trans }}</a></p>
   <p>{{ form_widget(form.submit) }}</p>
   {{ form_rest(form) }}
   {{ form_end(form) }}
  
</div>
{% if statistics is defined %}
<div class="wf_admin_subforum_statistic">
   <p class="wf_label">{{ 'admin.statistics' | trans }}</p>
   <p>{{ 'forum.nbThread' | trans | capitalize }} : {{ statistics.nbThread  }}</p>
   <p>{{ 'forum.nbPost' | trans | capitalize }} : {{ statistics.nbPost }}</p>
   <p>{{ 'forum.averagePostThread' | trans }} : {{ statistics.averagePostThread | round(2) }}
        <p>
   <a href="{{ path('workingforum_admin_delete_forum', {forum_id: forum.id}) }}" onclick="if (!confirm('{{'admin.confirmDeleteForum'|trans}}')) { return false; }" class="wf_button wf_button-red">{{ 'admin.delete_forum' | trans}}</a>
   </p>
</div>
{% endif %}
<div class="wf_clear"></div>
</div>
</div>
{% endblock %}

