{# empty Twig template #}
{% extends '::base.html.twig' %}
{% block body %}
    {% include '::header.html.twig' %}
    {% include 'YosimitsoWorkingForumBundle:Common:header.html.twig' %}
{% trans_default_domain 'front' %}
<script src="{{ asset('bundles/yosimitsoworkingforum/markdown/js/bootstrap-markdown.js') }}"></script>
<script src="{{ asset('bundles/yosimitsoworkingforum/showdown/src/showdown.js') }}"></script>
<script src="{{ asset('bundles/yosimitsoworkingforum/markdown/locale/bootstrap-markdown.fr.js') }}"></script>
<script src="{{ asset('bundles/yosimitsoworkingforum/showdown/src/extensions/twitter.js') }}"></script>
<link rel="stylesheet" href="{{ asset('bundles/yosimitsoworkingforum/markdown/css/bootstrap.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/yosimitsoworkingforum/markdown/css/bootstrap-markdown.min.css') }}" type="text/css" media="all" />

<script type="text/javascript" >
   $(document).ready(function() {
      


     $(".textarea_post").markdown({
         language:'{{ app.request.locale }}',
   onPreview: function(e) {
 
    var converter = new Showdown.converter({ extensions: ['twitter'] });
    
    var html  = converter.makeHtml(nl2br(e.getContent()));
   return html;
   }
     });
        });
        
        function nl2br (str, is_xhtml) {
    var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
    return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
        }
   
</script>

 <div id="forum_content">
<div class="breadcrumb">
 <a href="{{ path('forum')}}">Forum</a> &rarr; <a href="{{ path('forum') }}">{{subforum.forum.name}}</a> &rarr; <a href="{{ path('subforum',{ 'subforum_slug' : subforum.slug }) }}">{{subforum.name }}</a> &rarr; {{ 'forum.new_topic' | trans }}
</div>
<div class="new_topic">

       <h1>{{ ('forum.new_topic' | trans) }} {{ ('forum.into_forum' | trans) }} {{subforum.name }}</h1>    
    <div class="content">
   {% if form_errors(form) %}
                  <div class="alert-error">
                      {{form_errors(form) }}
                  </div>
          {% endif %}
    {{ form_start(form) }}
    <p>{{ 'forum.topic' | trans }}</p>
    <p>{{ form_widget(form.label) }}</p>
    
      <p>{{ 'forum.sublabel' | trans}}</p>
    <p>{{ form_widget(form.sublabel) }}</p>
    
    {% for post in form.post %}
    <p>{{ form_widget(post.content) }}</p>
    {% endfor %}
     <p><input type="submit" value="{{ 'forum.create_topic' | trans }}" class="button width50"/></p>
     {{ form_rest(form) }}
     {{ form_end(form) }}
    </div>   
</div>
 </div>
{% endblock %}
