{% trans_default_domain 'YosimitsoWorkingForumBundle' %}
<ul class="wf_action_list">
    {% if not thread.locked %}
        <li>
            <a class="wf_button wf_icon-lock"
               rel="nofollow"
               id="wf_set-locked"
               href="{{ path('workingforum_lock_thread',{'forum': forum.slug, 'subforum' : subforum.slug, 'thread' : thread.slug}) }}">
                {{ 'forum.lock' | trans }}
            </a>
        </li>
    {% endif %}
    {% if moveThread %}
        <li>
            <a class="wf_button" id="wf_move_thread_button" rel="nofollow">&rarr; {{ 'forum.move_thread' | trans }}</a>
            {{ form_widget(moveThread.forum) }}
        </li>
    {% endif %}
    {% if allowModeratorDeleteThread %}
        <li>
            <a class="wf_button wf_icon-remove"
               rel="nofollow"
               onclick="if (!confirm('{{ 'forum.confirm_delete_thread' | trans }}')) { return false; }"
               href="{{ path('workingforum_delete_thread',{'forum': forum.slug, 'subforum' : subforum.slug, 'thread': thread.slug}) }}">
                {{ 'forum.delete_thread' | trans }}
            </a>
        </li>
    {% endif %}
    {% if not thread.pin %}
    <li>
        <a class="wf_button wf_icon-pin"
           rel="nofollow"
           href="{{ path('workingforum_pin_thread',{'forum': forum.slug, 'subforum' : subforum.slug, 'thread' : thread.slug}) }}">
            {{ 'forum.pin_thread' | trans }}
        </a>
    </li>
        {% else %}
            <li>
                <a class="wf_button wf_icon-pin"
                   rel="nofollow"
                   href="{{ path('workingforum_unpin_thread',{'forum': forum.slug, 'subforum' : subforum.slug, 'thread' : thread.slug}) }}">
                    {{ 'forum.unpin_thread' | trans }}
                </a>
            </li>
    {% endif %}
</ul>