{% trans_default_domain 'YosimitsoWorkingForumBundle' %}
<script>
    function nl2br (str, is_xhtml) {
        var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
        return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
    }

    function quote(postId)
    {
        jQuery('.wf_textarea_post').val(jQuery('.wf_textarea_post').val() + "[quote=" + postId + "]");
        jQuery('.wf_textarea_post').focus();
    }

    function report(url)
    {
        if (!confirm("{{ 'forum.confirm_report' | trans }}"))
        {
            return false;
        }
        jQuery.ajax({
        type: "GET",
        url: url,
        crossDomain: false,
        dataType: 'json',
        async: false,
        success: function(verif){
            if (verif == 'true')
            {
                alert('{{ 'forum.thanks_reporting' | trans }}');
            }
            else
            {
            alert('{{ 'message.error.something_wrong' | trans }}');
            }
        }
        });
    }

    function moderate(id)
    {
        var reason = prompt('{{ 'admin.report.why' | trans }}');

        if (reason != null && reason.trim() != '') {
            jQuery.ajax({
                type: "POST",
                url: '{{ path('workingforum_admin_report_action_moderate') }}',
                crossDomain: false,
                data: 'reason='+reason+'&postId='+id,
                dataType: 'json',
                async: false,
                success: function(res){
                    if (res == 'ok')
                    {
                        jQuery('#wf_post'+id).html('<p class="wf_moderate">{{ 'forum.post_moderated' |trans }} '+reason+'</p>');
                    }
                }
            });
        } else if (reason != null) {
            alert('{{ 'admin.report.invalid_reason' | trans }}');
            return;
        }
    }

    function voteUp(id, element)
    {
        jQuery.ajax({
            type: "POST",
            url: '{{ path('workingforum_vote_up') }}',
            crossDomain: false,
            data: 'postId=' + id,
            dataType: 'json',
            async: false,
            success: function (content) {
                if (content.res == 'true') {
                    let img = jQuery(element).html();
                    jQuery(element).remove();
                    jQuery('#voteUpLabel_' + id).html(img + '+ ' + content.voteUp);
                }
                else {
                    alert('Sorry an error occured : ' + content.errMsg);
                }
            }
        });
    }

    function showEnclosed(arrow, id)
    {
        jQuery('#wf_enclosed_files_' + id).slideDown();
        jQuery(arrow).remove();
    }

    jQuery(document).ready(function() {

        jQuery('#wf_move_thread_button').click(function () {

        if (!jQuery('#wf_move_thread_button').hasClass('confirm')) {
            jQuery('#move_thread_forum').show();
            jQuery('#wf_move_thread_button').html('{{ 'forum.confirm_move_thread' | trans }}');
            jQuery('#wf_move_thread_button').addClass('confirm');
        }
        else {
            var target = jQuery('#move_thread_forum').val();
            if (!target) {
                alert('Error: subforum id is empty');
            }
            jQuery.ajax({
                type: "POST",
                url: '{{ path('workingforum_move_thread') }}',
                crossDomain: false,
                data: 'threadId={{ thread.id }}&target=' + target,
                dataType: 'json',
                async: false,
                success: function (res) {
                    if (res.res == 'true') {
                        alert('{{ 'forum.move_thread_success' | trans }}');
                        jQuery('#wf_move_thread_button').addClass('wf_button-grey').html('{{ 'forum.thread_was_moved_to' | trans }} ' + res.targetLabel);
                        jQuery('#move_thread_forum').hide();
                    }
                    else {
                        alert('An error occured');
                        return false;
                    }
                }
            });
        }
    });
});
</script>