{% trans_default_domain 'YosimitsoWorkingForumBundle' %}
<script>
    function nl2br (str, is_xhtml) {
    var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
    return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
}

    function quote(postId)
    {
        jQuery('.wf_textarea_post').val(jQuery('.wf_textarea_post').val() + "[quote=" + postId + "]");
        jQuery('.wf_textarea_post').focus();
    }

    function report(url)
    {
        if (!confirm("{{ 'forum.confirm_report' | trans }}"))
    {
        return false;
    }
        jQuery.ajax({

        type: "GET",
        url: url,
        crossDomain: false,
        dataType: 'json',
        async: false,
        success: function(verif){
        if (verif == 'true')
    {
        alert('{{ 'forum.thanks_reporting' | trans }}');
    }
        else
    {

    }
    }
    });
    }

    function moderate(id)
    {

        reason = prompt('{{ 'admin.report.why' | trans }}');

if (reason != null) {
            jQuery.ajax({
            type: "POST",
            url: '{{ path('workingforum_admin_report_action_moderate') }}',
            crossDomain: false,
            data: 'reason='+reason+'&postId='+id,
            dataType: 'json',
            async: false,
            success: function(res){
            if (res == 'ok')
        {
            jQuery('#wf_post'+id).html('<p class="wf_moderate">{{ 'forum.post_moderated' |trans }} '+reason+'</p>');
        }
        }
        });
      }
    }

    jQuery(document).ready(function() {
    jQuery('#wf_move_thread_button').click(function () {

        if (!jQuery('#wf_move_thread_button').hasClass('confirm')) {
            jQuery('#move_thread_forum').show();
            jQuery('#wf_move_thread_button').html('{{ 'forum.confirm_move_thread' | trans }}');
            jQuery('#wf_move_thread_button').addClass('confirm');
        }
        else {
            var target = jQuery('#move_thread_forum').val();
            if (!target) {
                alert('Error: subforum id is empty');
            }
            jQuery.ajax({
                type: "POST",
                url: '{{ path('workingforum_move_thread') }}',
                crossDomain: false,
                data: 'threadId={{ thread.id }}&target=' + target,
                dataType: 'json',
                async: false,
                success: function (res) {
                    if (res.res == 'true') {
                        alert('{{ 'move_thread_success' | trans }}');
                        jQuery('#wf_move_thread_button').addClass('wf_button-grey').html('{{ 'forum.thread_was_moved_to' | trans }} ' + res.targetLabel);
                        jQuery('#move_thread_forum').hide();
                    }
                    else {
                        alert('An error occured');
                        return false;
                    }
                }
            });
        }
    });
});
</script>