{% extends 'YosimitsoWorkingForumBundle:Common:base.html.twig' %}
{% block forum %}
    {% include 'YosimitsoWorkingForumBundle:Common:header.html.twig' %}
{% trans_default_domain 'YosimitsoWorkingForumBundle' %}
    <script src="{{ asset('bundles/yosimitsoworkingforum/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/yosimitsoworkingforum/js/admin/report.js') }}"></script>

<div id="wf_forum_content">
     <h1>{{ 'admin.admin_area' | trans }}</h1>
<div id="wf_forum_admin">
      <p>
          <a class="wf_button" href="{{ path('workingforum_admin') }}">
            &larr; {{ 'admin.back_to_admin' |trans }}
          </a>
      </p>
      <p>
          <a class="wf_button" href="{{ path('workingforum_admin_report_history') }}">
              {{ 'admin.report.history' |trans }}
          </a>
      </p>
    {%  include 'YosimitsoWorkingForumBundle:Admin:Report/report_content.html.twig' with {'postReportList': postReportList } %}
</div>
</div>
{% endblock %}